<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crackhead</title>
</head>
<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Tienda</th>
            <th>Imagen</th>
            <th>Tienda</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{marca}}</td>
            <td>{{modelo}}</td>
            <td>{{color}}</td>
            <td><img src="{{SRCimg}}" alt="{{marca}} {{modelo}}"></td>
            <td>{{tienda}}</td>
            <td><a href="{{URL}}">Enlace</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>